body{
	background-color:#660000;
	font-family: sans-serif;
	color:white;
}
header{
	/*background-image:url("../img/fondo-grana.jpg");*/
	background-image: radial-gradient(#ff9900, #660000);
}
aside#leftside {
	position: fixed;
	float:left;
	left: 2px;
	width: 12vw;
	margin-right: 5px;
	margin-left: 3px;
	margin-top: 20px;
	border: 2px solid #ff9900;
}
aside#rightside {
	float: right;
	width: 20vw;
	border: 2px solid #ff9900;
	margin-top: 20px;
}
section#menu {
  	margin: 2px;
  	border-spacing: 5px;
  	padding-bottom: 5px; 
 	font-size: 12px; 	
  	font-family: bold;
}
section#central {  	
  	border-spacing: 3px;
  	padding: 10px;
  	background: black;
  	border: 3px solid #ff9900;
  	width: 62vw;
  	margin-left: 13%;
  	margin-top: 24px;
  	color:white;
}
article{
	color:white;
  	margin-top: 5px;
  	margin-bottom: 10px;
  	border-spacing: 5px;
  	padding: 10px;
  	background: #ff9900;
  	border: 3px solid white;
}
div#marco {
	  width: 240px;
	  height: 140px;
	  margin: 5px;
	  border: 5px solid #ff9900;
	  border-radius: 5px;
	  background:white;
	  background-size: 100%;
}
h1{
	color:white;
	font-weight: bolder;
	font-size: 3rem;
	font-family: bold;
}
img{
	border-radius: 100px;
}

.logo{
	border-radius: 1px;
}
.address{
	margin-left: 30px;
	margin-right: 30px;
}
.darkstyle{
        padding-top: 10px;
	padding-bottom: 10px;
        padding-left: 10px;
	background-color: black;
	color: white;
	text-decoration: none;
}
.optmenu{
	margin-left: 3px;
	margin-right: 45px;
	color: white;
	font-family: sans-serif;
	font-weight: bolder;
	text-decoration: none;
}
.title{
	margin: 2px;
	padding: 2px;
	letter-spacing: 3px;
}
.columna1{
	position:absolute;
	width: 31%;
	margin:1%;
	float: left;
}
.columna2{
	width: 31%;
	margin:1%;
	margin-left: 33%;
	float: left;
}
.columna3{
	width: 31%;
	margin-left: 69%;
	margin:1%;
	float: left;
}
#enviar{
	color:white;
	font-weight: bolder;
	background-color: black;
	float:right;
	border:3px solid white;
	padding:5px;
	margin-right: 3%;
	width: 20%;
}
#formulario{
	background-color:#660000;
	padding:10px;
	margin:50px;
	margin-top: 20px;
}

#formulario form label{
	width: 30%;
	float:left;
	padding: 5px;
}
input{
	width:40%;
	padding: 5px;
	margin:5px;
}
input#ubicacionact{
	width:85%;
}
input[type=button], input[type=file]{
	width: 30%;
	color: white;
	font-weight: bolder;
	background-color: black;
}
caption{
	font-weight: bolder;
	padding:5px;
	text-align: center;
}

table{
	border: 4px solid black;
	border-collapse: collapse;
	margin:20px;
	background-color: #660000;
	width: 90%;
}
th{
	text-align: center;
	padding: 10px;
}
thead th{
	border: 1px solid white;
}
tbody th {
	background-color: black;
	border: 1px solid white;
	width: 15vw;
}
td{
	background-color: white;
	color:black;
	text-align: center;
	border: 1px solid black;
	width: 15vw;
}