*{
    border-radius: 100px;
}
header{
	background-image: radial-gradient(#f1e3dd, #87bdd8);
        color:#034f84;
        
}
body{
        background-color:#618685;
	font-family: sans-serif;
	color:#034f84;
}
aside#leftside {
	position: fixed;
	float:left;
	left: 2px;
	width: 12vw;
	margin-right: 5px;
	margin-left: 3px;
	margin-top: 20px;
	border: 2px solid #667292;
}
aside#rightside {
	float: right;
	width: 20vw;
	border: 2px solid #667292;
	margin-top: 20px;
}
section#menu {
  	margin: 2px;
  	border-spacing: 5px;
  	padding-bottom: 10px; 
 	font-size: 14px; 	
  	font-family: bold;
}
section#central {  	
  	border-spacing: 3px;
  	padding: 10px;
  	background: #b7d7e8;
  	border: 3px solid #667292;
  	width: 62vw;
  	margin-left: 13%;
  	margin-top: 24px;
  	color: #667292;
        margin-bottom: 20px;
}
article{
	color:black;
  	margin-top: 5px;
  	margin-bottom: 10px;
  	border-spacing: 5px;
  	padding: 10px;
  	background: #87bdd8;
  	border: 3px solid white;
}
div#marco {
	  width: 240px;
	  height: 140px;
	  margin: 5px;
	  border: 10px solid #667292;
	  border-radius: 10px;
	  background:white;
	  background-size: 100%;
}
h1{
	color:#667292;
	font-weight: bolder;
	font-size: 3rem;
	font-family: bold;
}
img{
	border-radius: 100px;
}

.logo{
	border-radius: 1px;
}
.address{
	margin-left: 30px;
	margin-right: 30px;
}
.darkstyle{
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
        padding-left: 20px;
	background-color: #87bdd8;
	color: #667292;
	text-decoration: none;
}
.optmenu{
	margin-left: 3px;
	margin-right: 45px;
	color: white;
	font-family: sans-serif;
	font-weight: bolder;
	text-decoration: none;
}
.title{
	margin: 3px;
	padding: 10px;
        padding-left: 20px;
	letter-spacing: 3px;
}

#enviar{
	color:white;
	font-weight: bolder;
	background-color: #618685;
	float:right;
	border:3px solid white;
	padding:5px;
	margin-right: 3%;
	width: 20%;
}
#formulario{
	background-color:#b2c2bf;
	padding:10px;
	margin:50px;
	margin-top: 20px;
        margin-bottom: 20px;
}

#formulario form label{
	width: 30%;
	float:left;
	padding: 5px;
}
input{
	width:40%;
	padding: 5px;
	margin:5px;
}

caption{
	font-weight: bolder;
	padding:5px;
	text-align: center;
}

table{
	border: 4px solid #667292;
	border-collapse: collapse;
	margin:20px;
	background-color: #bccad6;
	width: 90%;
}
th{
	text-align: center;
	padding: 10px;
}
thead th{
	border: 1px solid white;
}
tbody th {
	background-color: #bccad6;
	border: 1px solid white;
	width: 15vw;
}
td{
	background-color: white;
	color:#b7d7e8;
	text-align: center;
	border: 1px #667292;
	width: 15vw;
}
