<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Aprenentatge per Projectes</title>
        <meta charset="UTF-8">
        <meta name="title" content="Portal del Modul 3">
        <link href="../../css/style.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <header  class="title">
            <h2> Aprenentatge per Projectes </h2>
            <section id="menu">
                <nav  class="darkstyle">
                    <div>
                        <a href="../main.php" class="optmenu"> HOME </a>
                        <a href="NumbersView.html" class="optmenu"> NUMBERS & ARRAYS </a>
                        <a href="StringsView.html" class="optmenu"> STRINGS </a>
                    </div>
                </nav>
            </section>
        </header>

        <aside id="leftside">
            <div class="darkstyle">
                <nav>
                    <br><br><br><br><br><br>				
                </nav>
            </div>
        </aside>

        <aside id="rightside">
            <div class="darkstyle">
                <h4>Referencies utils:</h4>
                <br>
                <a href="https://www.php.net/manual/es/" class="optmenu"><i>PHP.NET</i></a>  
                <br><br>
                <a href="https://www.w3schools.com/php/default.asp" class="optmenu"><i>W3CSCHOOLS</i></a> 
            </div>
        </aside>

        <section id="central">
            <a name="principal"></a>
            <h4>EXEMPLE AMB ARRAYS ASSOCIATIUS</h4>


            <article>
                <p><b>DADES DE PAISSOS EUROPEUS</b></p>
                <div id="formulario">             
                    <form action="../../controllers/activities/ArraysAssocController.php" method="POST">
                        <label>Nom del pais: </label><br><br>
                        <input type="text" name="pais" placeholder="introdueix el nom del pais"/> <br><br>
                        Mostrar la llista de paissos ordenats per:  <br><br>                     
                        <input list ="orderby" placeholder="Escull camp d'ordenacio" name ="key" />
                        <datalist id="orderby">
                            <option label = "pais" value ="pais"></option>
                            <option label = "capital" value ="capital"></option>
                            <option label = "poblacio" value ="poblacio"></option>
                        </datalist>
                        <input type="submit" value="ENVIAR" id="enviar"/><br><br>
                    </form>
                </div>

                <br><br>
            </article>	

            <article>
                <div id="formulario"> 
                    <form action="../../controllers/activities/TestController.php" method="POST">
                        <br><br>Entra el numero que desees comprobar<br><br>
                        <br><label>Valor:</label><input name="country"/><br>
                        Mostrar la lista de paises                       
                        <input type="checkbox" name="showcountries"/><br>
                        <br><br><input type="submit" value="COMPROBAR" name="enviar" />
                    </form>
                </div>
            </article>

            <article>
                <br><br>                    
            </article>	

        </section>

        <footer>
            <div class="darkstyle">  
                <a><b> Autor: Jose Meseguer</b> </a> 
            </div>		
        </footer>
    </body>
</html>