body{
    --janma--font-body:Poppins;
    --janma--font-site-title:Poppins;
    --janma--font-navigation:Poppins;
    --janma--font-buttons:Poppins;
    --janma--font-heading-1:Poppins;
    --janma--font-heading-2:Poppins;
    --janma--font-heading-3:Poppins;
    --janma--font-heading-4:Poppins;
    --janma--font-heading-5:Poppins;
    --janma--font-heading-6:Poppins;
    --wpkoi--font-footer:Poppins;
    --wpkoi--font-fixed-side:Poppins;
    --janma--body-background:#cee1cc;
    --janma--text-color:#151515;
    --janma--link-color:#151515;
    --janma--link-color-hover:#555555;
    --janma--header-background-color:#cee1cc;
    --janma--header-text-color:#151515;
    --janma--header-link-color:#151515;
    --janma--header-link-hover-color:#555555;
    --janma--sticky-header-background-color:#cee1cc;
    --janma--site-title-color:#151515;
    --janma--navigation-background-color:#cee1cc;
    --janma--navigation-text-color:#151515;
    --janma--navigation-background-hover-color:#cee1cc;
    --janma--navigation-text-hover-color:#151515;
    --janma--navigation-text-current_color:#151515;
    --janma--navigation-background-current-color:#cee1cc;
    --janma--navigation-border-color:#151515;
    --janma--subnavigation-background-color:#151515;
    --janma--subnavigation-text-color:#cee1cc;
    --janma--subnavigation-background-hover-color:#151515;
    --janma--subnavigation-text-hover-color:#ffffff;
    --janma--subnavigation-text-current-color:#ffffff;
    --janma--subnavigation-background-current-color:#151515;
    --janma--form-button-background-color:#cee1cc;
    --janma--form-button-background-color-hover:#151515;
    --janma--form-button-text-color:#151515;
    --janma--form-button-text-color-hover:#cee1cc;
    --janma--form-button-border-color:#151515;
    --janma--form-button-border-color-hover:#151515;
    --wpkoi--fixed-side-content-background-color:#151515;
    --wpkoi--fixed-side-content-text-color:#cee1cc;
    --wpkoi--fixed-side-content-link-color:#cee1cc;
    --wpkoi--fixed-side-content-link-hover-color:#ffffff;
    --wpkoi--back-to-top-background-color:#151515;
    --wpkoi--back-to-top-text-color:#cee1cc;
    --wpkoi--back-to-top-background-color-hover:#151515;
    --wpkoi--back-to-top-text-color-hover:#ffffff;
    --janma--form-text-color:#151515;
    --janma--form-background-color:#cee1cc;
    --janma--form-border-color:#151515;
    --janma--form-background-color-focus:#151515;
    --janma--form-text-color-focus:#cee1cc;
    --janma--form-border-color-focus:#151515;
    --wpkoi--footer-text-color:#cee1cc;
    --wpkoi--footer-background-color:#151515;
    --wpkoi--footer-link-color:#cee1cc;
    --wpkoi--footer-link-hover-color:#ffffff;
    --wpkoi--scrollbar-track-color:#151515;
    --wpkoi--scrollbar-thumb-color:#cee1cc;
    --wpkoi--scrollbar-thumb-hover-color:#ffffff;
    --janma--wc-sale-sticker-background:#151515;
    --janma--wc-sale-sticker-text:#cee1cc;
    --janma--wc-price-color:#151515;
    --janma--wc-product-tab:#333333;
    --janma--wc-product-tab-highlight:#151515;
    --janma--desktop-logo-width:8vw;
    --janma--mobile-logo-width:12vw;
    --janma--navigation-items-spacing:1vw;
    --janma--navigation-items-width:0.5vw;
    --janma--navigation-items-height:1.5em;
    --janma--subnavigation-width:200px;
    --janma--button-border-style:solid;
    --janma--button-border:1px;
    --janma--button-radius:0px;
    --janma--button-rotate:rotate(0deg);
    --wpkoi--fixed-side-margin-top:170px;
    --wpkoi--fixed-side-margin-right:0px;
    --wpkoi--fixed-side-margin-bottom:0px;
    --wpkoi--fixed-side-margin-left:0px;
    --wpkoi--fixed-side-top:9px;
    --wpkoi--fixed-side-right:7px;
    --wpkoi--fixed-side-bottom:9px;
    --wpkoi--fixed-side-left:5px;
    --janma--button-top:10px;
    --janma--button-right:20px;
    --janma--button-bottom:10px;
    --janma--button-left:20px;
    --janma--container-width:1170px;
    --janma--header-top:0.5vw;
    --janma--header-right:4vw;
    --janma--header-bottom:0.5vw;
    --janma--header-left:4vw;
    --janma--mobile-header-top:0.5vw;
    --janma--mobile-header-right:4vw;
    --janma--mobile-header-bottom:0.5vw;
    --janma--mobile-header-left:4vw;
    --janma--site-title-top:0vw;
    --janma--site-title-right:0vw;
    --janma--site-title-bottom:0vw;
    --janma--site-title-left:0vw;
    --janma--mobile-site-title-top:0vw;
    --janma--mobile-site-title-right:0vw;
    --janma--mobile-site-title-bottom:0vw;
    --janma--mobile-site-title-left:0vw;
    --janma--content-top:4vw;
    --janma--content-right:4vw;
    --janma--content-bottom:4vw;
    --janma--content-left:4vw;
    --janma--mobile-content-top:4vw;
    --janma--mobile-content-right:4vw;
    --janma--mobile-content-bottom:4vw;
    --janma--mobile-content-left:4vw;
    --janma--side-top:0px;
    --janma--side-right:0px;
    --janma--side-bottom:0px;
    --janma--side-left:0px;
    --janma--mobile-side-top:0px;
    --janma--mobile-side-right:0px;
    --janma--mobile-side-bottom:0px;
    --janma--mobile-side-left:0px;
    --janma--side-padding-radius:0px;
    --janma--body-font-weight:500;
    --janma--body-font-transform:none;
    --janma--body-font-size:19px;
    --janma--mobile-body-font-size:19px;
    --janma--body-line-height:1.3;
    --janma--site-title-font-weight:900;
    --janma--site-title-font-transform:uppercase;
    --janma--site-title-font-size:1.7vw;
    --janma--mobile-site-title-font-size:3vw;
    --janma--navigation-font-weight:600;
    --janma--navigation-font-transform:uppercase;
    --janma--navigation-font-size:1.2vw;
    --janma--tablet-navigation-font-size:1.2vw;
    --janma--mobile-navigation-font-size:14px;
    --janma--buttons-font-weight:700;
    --janma--buttons-font-transform:uppercase;
    --janma--buttons-font-size:19px;
    --janma--mobile-buttons-font-size:19px;
    --janma--heading-1-weight:700;
    --janma--heading-1-transform:none;
    --janma--heading-1-font-size:60px;
    --janma--mobile-heading-1-font-size:30px;
    --janma--heading-1-line-height:1.2em;
    --janma--heading-2-weight:700;
    --janma--heading-2-transform:none;
    --janma--heading-2-font-size:32px;
    --janma--mobile-heading-2-font-size:25px;
    --janma--heading-2-line-height:1.2em;
    --janma--heading-3-weight:700;
    --janma--heading-3-transform:none;
    --janma--heading-3-font-size:25px;
    --janma--mobile-heading-3-font-size:25px;
    --janma--heading-3-line-height:1.2em;
    --janma--heading-4-weight:normal;
    --janma--heading-4-transform:none;
    --janma--heading-4-font-size:20px;
    --janma--mobile-heading-4-font-size:20px;
    --janma--heading-4-line-height:1em;
    --janma--heading-5-weight:normal;
    --janma--heading-5-transform:none;
    --janma--heading-5-font-size:20px;
    --janma--mobile-heading-5-font-size:20px;
    --janma--heading-5-line-height:1em;
    --janma--heading-6-weight:normal;
    --janma--heading-6-transform:none;
    --janma--heading-6-font-size:20px;
    --janma--mobile-heading-6-font-size:20px;
    --janma--heading-6-line-height:1em;
    --wpkoi--footer-weight:500;
    --wpkoi--footer-transform:none;
    --wpkoi--footer-font-size:18px;
    --wpkoi--mobile-footer-font-size:18px;
    --wpkoi--fixed-side-font-weight:500;
    --wpkoi--fixed-side-font-transform:none;
    --wpkoi--fixed-side-font-size:1.4vw;
    --wpkoi--mobile-fixed-side-font-size:22px;
    --wpkoi--def-cursor-image:url(), auto;
    --wpkoi--pointer-cursor-image:url(), auto;
    --janma--form-padding-top:0.8rem;
    --janma--form-padding-right:1rem;
    --janma--form-padding-bottom:0.8rem;
    --janma--form-padding-left:1rem;
    --janma--form-border-radius:0px;
    --janma--form-border-width:2px;
    --janma--form-border-style:solid;
    --janma--form-checkbox-size:30px;
    --janma--form-checkbox-innersize:18px;
    --janma--form-checkbox-padding:4px;
    --janma--form-checkbox-bordersize:2px;
    --wpkoi--nav-border-width:2px;
    --wpkoi--scrollbar-width:12px;
    --wpkoi--scrollbar-radius:0px;
}
