<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
    </head>
    <body>

        <form id="form">

            <label for="id">id</label>
            <input type="number" name="id">
            <br>
            <label for="name">name</label>
            <input type="text" name="name">
            <br>
            <label for="surname">surname</label>
            <input type="text" name="surname">
            <br>

            <label for="email">email</label>
            <input type="text" name="email">
            <br>
            <label for= "provincia">provincia</label>
            <input type="text" name="provincia">
            <br>
            <label for= "poblacio">poblacio</label>
            <input type="text" name="poblacio">
            <br>

            <label for= "empId">empId</label>
            <input type="number" name="empId">
            <br>

            <label for= "hiringDate">hiringDate</label>
            <input type="date" name="hiringDate">
            <br>
            <input type="submit" name="submit">
        </form>

        <div id="msg">
            
        </div>

        <script src="./employee.js"></script>
    
    </body>
</html>
